[req]
defualt_bits = 2048
emailAddress = myEmail@gmail.com
req_extensions = v3_req
x509_extensions = v3_ca
prompt = no
defualt_md = sha256
req_extensions = req_ext
distinguished_name = dn

[dn]
C = US
O = Organization
OU = riyad
CN = 127.0.0.1

[v3_req]
basicConstraints = CA:FALSE
keyUsage = digitalSignature

[req_ext]
certificateTemplatename = 123
subjectAltName = dirName:alt_names

[alt_names]
SN = 123456
UID = 31000
title = 0000
registeredAddress = Sample E
businessCategory = Sample Business

